@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #c6c6c6;
    --bg-inverted: #0b0b0b;
    --main: #191919;
    --input-label: #0b0b0b;
}

[data-theme='dark'] {
    --bg: #0b0b0b;
    --bg-inverted: #c6c6c6;
    --main: #8c8c8c;
    --input-label: #45f3ff;
}

body {
    background: var(--bg);
    color: var(--main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bg-inverted);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.textarea-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.textarea-scrollbar::-webkit-scrollbar-track {
    margin: 4px 0;
}

.textarea-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background: #777777;
}

/********************* For InputNew *********************/
@layer components {
    .input::-ms-clear {
        display: none;
    }

    .input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }

    .input:-webkit-autofill,
    .input:-webkit-autofill:hover,
    .input:-webkit-autofill:focus,
    .input:-webkit-autofill:active {
        -webkit-box-shadow: inset 0 0 0 1000px #45f3ff !important; /* Цвет фона */
        -webkit-text-fill-color: #0b0b0b !important;
        transition: background-color 600000s 0s, color 600000s 0s !important;
    }

    .input:focus ~ .input-icon,
    .input:not(:placeholder-shown) ~ .input-icon,
    .input:-webkit-autofill ~ .input-icon,
    .input:-webkit-autofill:hover ~ .input-icon,
    .input:-webkit-autofill:focus ~ .input-icon,
    .input:-webkit-autofill:active ~ .input-icon {
        color: #0b0b0b;
    }

    .input:focus ~ .input-icon svg,
    .input:not(:placeholder-shown) ~ .input-icon svg,
    .input:-webkit-autofill ~ .input-icon svg,
    .input:-webkit-autofill:hover ~ .input-icon svg,
    .input:-webkit-autofill:focus ~ .input-icon svg,
    .input:-webkit-autofill:active ~ .input-icon svg {
        fill: #0b0b0b;
        color: #0b0b0b;
    }

    .input:focus ~ .search-icon svg,
    .input:not(:placeholder-shown) ~ .search-icon svg,
    .input:-webkit-autofill ~ .search-icon svg,
    .input:-webkit-autofill:hover ~ .search-icon svg,
    .input:-webkit-autofill:focus ~ .search-icon svg,
    .input:-webkit-autofill:active ~ .search-icon svg {
        stroke: #0b0b0b;
    }

    .input:focus ~ label,
    .input:not(:placeholder-shown) ~ label,
    .input:-webkit-autofill ~ label,
    .input:-webkit-autofill:hover ~ label,
    .input:-webkit-autofill:focus ~ label,
    .input:-webkit-autofill:active ~ label {
        transform: translate(-10px, -28px);
        color: var(--input-label);
        font-size: 12px;
    }

    @media only screen and (min-width: 768px) {
        .input:focus ~ label,
        .input:not(:placeholder-shown) ~ label,
        .input:-webkit-autofill ~ label,
        .input:-webkit-autofill:hover ~ label,
        .input:-webkit-autofill:focus ~ label,
        .input:-webkit-autofill:active ~ label  {
            font-size: 14px;
        }
    }

    .input:focus ~ label .tooltip,
    .input:not(:placeholder-shown) ~ label .tooltip,
    .input:-webkit-autofill ~ label .tooltip,
    .input:-webkit-autofill:hover ~ label .tooltip,
    .input:-webkit-autofill:focus ~ label .tooltip,
    .input:-webkit-autofill:active ~ label .tooltip {
        height: 16px;
    }

    .input:focus ~ .input-bg,
    .input:not(:placeholder-shown) ~ .input-bg,
    .input:-webkit-autofill ~ .input-bg,
    .input:-webkit-autofill:hover ~ .input-bg,
    .input:-webkit-autofill:focus ~ .input-bg,
    .input:-webkit-autofill:active ~ .input-bg {
        height: 100%;
    }
}
/********************* For InputNew *********************/
