@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-second: #cbd5e1; /* gray-300 */
    --text: #27272a; /* zinc-800 */
    --scroll-bar: #a1a1aa; /* zinc-400 */
    --input-label: #0891b2; /* cyan-600 */
}

[data-theme='dark'] {
    --bg-second: #111827; /* gray-900 */
    --text: #e4e4e7; /* zinc-200 */
    --scroll-bar: #52525b; /* zinc-600 */
    --input-label: #67e8f9; /* cyan-300 */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/********************* Scrollbar *********************/
*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background: var(--scroll-bar);
}

.popup-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.textarea-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.textarea-scrollbar::-webkit-scrollbar-track {
    margin: 4px 0;
}

.wish-list-scrollbar::-webkit-scrollbar-track {
    margin: 10px 0;
}
/********************* Scrollbar *********************/

/********************* Input *********************/
@layer components {
    .input::-ms-clear {
        display: none;
    }

    .input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }

    .input:-webkit-autofill,
    .input:-webkit-autofill:hover,
    .input:-webkit-autofill:focus,
    .input:-webkit-autofill:active {
        -webkit-box-shadow: inset 0 0 0 1000px #67e8f9 !important; /* колір фона cyan-300 */
        box-shadow: inset 0 0 0 1000px #67e8f9 !important; /* колір фона cyan-300 */
        -webkit-text-fill-color: #27272a !important; /* колір тексту zinc-800 */
        transition: background-color 600000s 0s, color 600000s 0s !important;
    }

    .input:focus ~ .input-icon,
    .input:not(:placeholder-shown) ~ .input-icon,
    .input:-webkit-autofill ~ .input-icon,
    .input:-webkit-autofill:hover ~ .input-icon,
    .input:-webkit-autofill:focus ~ .input-icon,
    .input:-webkit-autofill:active ~ .input-icon {
        color: #27272a; /* zinc-800 */
    }

    .input:focus ~ .input-icon svg,
    .input:not(:placeholder-shown) ~ .input-icon svg,
    .input:-webkit-autofill ~ .input-icon svg,
    .input:-webkit-autofill:hover ~ .input-icon svg,
    .input:-webkit-autofill:focus ~ .input-icon svg,
    .input:-webkit-autofill:active ~ .input-icon svg {
        fill: #27272a; /* zinc-800 */
        color: #27272a; /* zinc-800 */
    }

    .input:focus ~ .search-icon svg,
    .input:not(:placeholder-shown) ~ .search-icon svg,
    .input:-webkit-autofill ~ .search-icon svg,
    .input:-webkit-autofill:hover ~ .search-icon svg,
    .input:-webkit-autofill:focus ~ .search-icon svg,
    .input:-webkit-autofill:active ~ .search-icon svg {
        stroke: #27272a; /* zinc-800 */
    }

    .input:focus ~ label,
    .input:not(:placeholder-shown) ~ label,
    .input:-webkit-autofill ~ label,
    .input:-webkit-autofill:hover ~ label,
    .input:-webkit-autofill:focus ~ label,
    .input:-webkit-autofill:active ~ label {
        transform: translate(-10px, -28px);
        color: var(--input-label);
        font-size: 12px;
    }

    @media only screen and (min-width: 768px) {
        .input:focus ~ label,
        .input:not(:placeholder-shown) ~ label,
        .input:-webkit-autofill ~ label,
        .input:-webkit-autofill:hover ~ label,
        .input:-webkit-autofill:focus ~ label,
        .input:-webkit-autofill:active ~ label  {
            font-size: 14px;
        }
    }

    .input:focus ~ label .tooltip,
    .input:not(:placeholder-shown) ~ label .tooltip,
    .input:-webkit-autofill ~ label .tooltip,
    .input:-webkit-autofill:hover ~ label .tooltip,
    .input:-webkit-autofill:focus ~ label .tooltip,
    .input:-webkit-autofill:active ~ label .tooltip {
        height: 16px;
    }

    .input:focus ~ .input-bg,
    .input:not(:placeholder-shown) ~ .input-bg,
    .input:-webkit-autofill ~ .input-bg,
    .input:-webkit-autofill:hover ~ .input-bg,
    .input:-webkit-autofill:focus ~ .input-bg,
    .input:-webkit-autofill:active ~ .input-bg {
        height: 100%;
    }
}
/********************* Input *********************/

/********************* Worn out *********************/
@layer components {
    .worn-out {
        filter: url(#worn-out);
    }
}
/********************* Input *********************/

/********************* Toastify *********************/
.Toastify__toast-container {
    @media only screen and (min-width: 768px) {
        width: 380px;
    }

    .Toastify__toast {
        background-color: var(--bg-second);

        .Toastify__close-button {
            opacity: 1;

            svg {
                width: 36px;
                height: 40px;
                fill: var(--text);

                @media only screen and (min-width: 768px) {
                    width: 22px;
                    height: 24px;
                }
            }
        }
    }
}
/********************* Toastify *********************/
