@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #c6c6c6;
    --title: #0b0b0b;
    --text: #191919;
}

[data-theme='dark'] {
    --bg: #0b0b0b;
    --title: #c6c6c6;
    --text: #8c8c8c;
}

body {
    color: var(--text);
    background: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.error-text {
    @apply mt-1 text-action text-xs;
}

.transition-slow {
    @apply transition duration-300 ease-in-out;
}

.textarea-scrollbar::-webkit-scrollbar {
    @apply w-1 h-1;
}

.textarea-scrollbar::-webkit-scrollbar-track {
    @apply my-1;
}

.textarea-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-dark rounded-full;
}
